<div >
  {% if site.posts.size > 0 %}
  <ul class="posts">
    {% for post in site.posts %}
    <li class="item">
      <div class="info">
        <time class="published" datetime="{{ post.date | date: "%Y/%m/%d" }}">{{ post.date | date: "%Y %b %-d" }}</time>
        <h3 class="title">
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
      </div>
      <div class="content">
        {% if page.show_excerpts %}
        {{ post.excerpt }}
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
