html, body {
  background: #010101;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}

address {
  text-align: center;
  padding-bottom: 2rem;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding-bottom: 3rem;
}
