.home-template {

  .navigation {
    margin: 0 auto;
    font-family: cardo, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;

    ul {
      padding: 0;
      list-style-type: none;

      li {
        padding: 0.25em 0;
      }
    }
  }

}
