---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Roxik from "../components/Roxik.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class="dark">
    <div class="absolute inset-x-0">
      <Header />
    </div>
    <main>
      <div class="overflow-clip">
        <Roxik />
      </div>

      <section class="body-font pt-10 text-gray-300">
        <div class="container mx-auto px-5 py-24">
          <div class="mb-20 flex w-full flex-col text-center">
            <h2 class="title-font mb-1 text-xs font-medium tracking-widest text-lime-400">JASON STURGES</h2>
            <h1 class="title-font mb-4 text-2xl font-bold text-gray-300 sm:text-3xl">
              Avant-Garde Experimental Artist
            </h1>
            <p class="mx-auto max-w-xl text-base leading-relaxed lg:w-2/3">
              Creative professional leveraging technology for immersive experiences — technologist; musician;
              photographer; explorer; human consciousness
            </p>
          </div>
        </div>
      </section>

    </main>
    <Footer />
  </body>
</html>
