---
import CodepenIcon from "../icons/CodepenIcon.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import InstagramIcon from "../icons/InstagramIcon.astro";
import YouTubeIcon from "../icons/YouTubeIcon.astro";
---

<footer class="body-font text-gray-600">
  <div class="container mx-auto flex items-center px-5 py-8">
    <span class="mt-4 inline-flex justify-center sm:ml-auto sm:mt-0 sm:justify-start">
      <a class="ml-3 text-gray-500" href="https://youtube.com/c/JasonSturges">
        <YouTubeIcon />
      </a>
      <a class="ml-3 text-gray-500" href="https://instagram.com/jasonsturges">
        <InstagramIcon />
      </a>
      <a class="ml-3 text-gray-500" href="https://codepen.io/jasonsturges">
        <CodepenIcon />
      </a>
      <a class="ml-3 text-gray-500" href="https://github.com/jasonsturges">
        <GitHubIcon />
      </a>
    </span>
  </div>
</footer>
