---
import CodepenIcon from "../icons/CodepenIcon.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import InstagramIcon from "../icons/InstagramIcon.astro";
import YouTubeIcon from "../icons/YouTubeIcon.astro";
---

<footer class="body-font text-gray-600">
  <div class="container mx-auto flex flex-col items-center px-5 py-8 sm:flex-row">
    <a class="title-font flex items-center justify-center font-medium text-gray-900 md:justify-start">
      <img
        class="h-10 w-10 rounded-full"
        src="https://labs.jasonsturges.com/avatar/jason-sturges.webp"
        alt="Jason Sturges"
      />
      <span class="ml-3 text-xl text-gray-300">Jason Sturges</span>
    </a>

    <span class="mt-4 inline-flex justify-center sm:ml-auto sm:mt-0 sm:justify-start">
      <a class="ml-3 text-gray-500">
        <YouTubeIcon />
      </a>
      <a class="ml-3 text-gray-500">
        <InstagramIcon />
      </a>
      <a class="ml-3 text-gray-500">
        <CodepenIcon />
      </a>
      <a class="ml-3 text-gray-500">
        <GitHubIcon />
      </a>
    </span>
  </div>
</footer>
