<div class="cover">
    <p class="author">Jason Sturges</p>
    <p class="stack">
        <span>A</span><span>v</span><span>a</span><span>n</span><span>t</span><span>-</span>
        <span>g</span><span>a</span><span>r</span><span>d</span><span>e</span>
    </p>
    <p class="tagline">Experimental artist</p>
</div>
