<footer class="site-footer">
    <section>
        <div class='background'>
            <img class='footer-image'
                 src='https://images.squarespace-cdn.com/content/v1/5fa603833d9cc53aea07b8cc/1633812248163-VNTYKM9N411PMYPE8SO3/IMG_16003.jpg' />
        </div>
    </section>

    <div class="divider"></div>

    <nav class="social">
        <a href="https://www.facebook.com/jason.sturges.1" class="icon facebook-icon"></a>
        <a href="https://www.linkedin.com/in/jasonsturges" class="icon linkedin-icon"></a>
        <a href="https://twitter.com/jasonsturges" class="icon twitter-icon"></a>
        <a href="https://medium.com/@jasonsturges" class="icon medium-icon"></a>
        <a href="https://500px.com/jasonsturges" class="icon fivehundredpx-icon"></a>
        <a href="https://instagram.com/jasonsturges" class="icon instagram-icon"></a>
        <a href="https://www.pinterest.com/jasonsturges" class="icon pinterest-icon"></a>
        <a href="https://www.behance.net/jasonsturges" class="icon behance-icon"></a>
        <a href="https://soundcloud.com/jasonsturges" class="icon soundcloud-icon"></a>
        <a href="https://youtube.com/c/JasonSturges" class="icon youtube-icon"></a>
        <a href="https://vimeo.com/jasonsturges" class="icon vimeo-icon"></a>
        <a href="https://stackoverflow.com/users/798448/jason-sturges" class="icon stackoverflow-icon"></a>
        <a href="https://codepen.io/jasonsturges" class="icon codepen-icon"></a>
        <a href="https://codesandbox.io/u/jasonsturges" class="icon codesandbox-icon"></a>
        <a href="https://github.com/jasonsturges" class="icon github-icon"></a>
    </nav>
</footer>
