// Headings: Acumin-Pro
// Body: Poppins
html,
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #3498db;

  &:hover {
    text-decoration: underline;
  }
}
