body {
  margin: 0;
  font-family: poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: acumin-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* No space between headings and first paragraph */
:is(h1, h2, h3, h4, h5, h6) + p {
  margin-top: 0;
}

a {
  color: inherit;
  text-underline-offset: 0.2em;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media only screen and (min-width: 400px) {
  body {
    background-color: #212121;
    color: #efefef;
  }
}
