---
layout: default
template: "home-template"
---

<div class="cover">
  <p class="author">Jason Sturges</p>
  <p class="stack">
    <span>A</span><span>v</span><span>a</span><span>n</span><span>t</span><span>-</span>
    <span>g</span><span>a</span><span>r</span><span>d</span><span>e</span>
  </p>
  <p class="tagline">Experimental artist</p>
</div>

<div class="grid">
  <figure class="avatar-figure">
    <img class="avatar" src="https://cdn.jasonsturges.com/avatar/jason-sturges-square-small.jpg" alt="Jason Sturges" />
  </figure>

  <p>Creative professional leveraging technology for immersive experiences &mdash; technologist; photographer; musician;
    explorer; human consciousness </p>
  <p><a href="/about">Learn more about Jason Sturges</a></p>
</div>


<section>
  <div class="grid">
    <h2>Technology</h2>
    <p>Leadership through innovation applying modern technologies and creative problem solving.</p>
  </div>

  <p class="codepen" data-height="513" data-theme-id="dark" data-default-tab="result" data-user="jasonsturges"
     data-slug-hash="mzPWaK"
     style="height: 513px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
     data-pen-title="Three.js Roxik Sharikura performance demo">
  <span>See the Pen <a href="https://codepen.io/jasonsturges/pen/mzPWaK">
  Three.js Roxik Sharikura performance demo</a> by Jason Sturges (<a href="https://codepen.io/jasonsturges">@jasonsturges</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
</section>


<section>
  <div class="grid">
    <h2>Archives</h2>
    {% include loop.html %}
  </div>
</section>


<section>
  <div class="grid">
    <h2>Photography</h2>
    <p>Portrait photographer in the Des Moines area, shooting at the Studio in Windsor Heights.</p>
    <p>Featured in publications including Gilded, Solstice, Elegant, Boulevard, StyleCruze, Horizont, Evon, Avessa, and other  magazines.</p>
  </div>

  <div class="masonry">
    <div class="brick">
      <a href="#img_1">
        <img src="https://cdn.jasonsturges.com/portraits/1024/IMG_37781.jpg" alt="Amina Ali" title="Amina Ali">
      </a>
    </div>
    <div class="brick">
      <a href="#img_2">
        <img src="https://cdn.jasonsturges.com/portraits/1024/IMG_54539.jpg" alt="Mariah Nelida Prendergast" title="Mariah Nelida Prendergast">
      </a>
    </div>
    <div class="brick">
      <a href="#img_3">
        <img src="https://cdn.jasonsturges.com/portraits/1024/IMG_43688.jpg" alt="Taylor Anne Rose" title="Taylor Anne Rose">
      </a>
    </div>
    <div class="brick">
      <a href="#img_4">
        <img src="https://cdn.jasonsturges.com/portraits/1024/IMG_52348.jpg" alt="Arianna Ebsen" title="Arianna Ebsen">
      </a>
    </div>
    <div class="brick">
      <a href="#img_5">
        <img src="https://cdn.jasonsturges.com/portraits/1024/IMG_42078.jpg" alt="Anna Harlow" title="Anna Harlow">
      </a>
    </div>
  </div>

  <a href="#_1" class="lightbox trans" id="img_1"><img src="https://cdn.jasonsturges.com/portraits/2048/IMG_37781.jpg" /></a>
  <a href="#_2" class="lightbox trans" id="img_2"><img src="https://cdn.jasonsturges.com/portraits/2048/IMG_54539.jpg" /></a>
  <a href="#_3" class="lightbox trans" id="img_3"><img src="https://cdn.jasonsturges.com/portraits/2048/IMG_43688.jpg" /></a>
  <a href="#_4" class="lightbox trans" id="img_4"><img src="https://cdn.jasonsturges.com/portraits/2048/IMG_52348.jpg" /></a>
  <a href="#_5" class="lightbox trans" id="img_5"><img src="https://cdn.jasonsturges.com/portraits/2048/IMG_42078.jpg" /></a>
</section>
