---
layout: default
template: "home-template"
---

<ul class="cb-slideshow">
  <li><span>Image 01</span></li>
  <li><span>Image 02</span></li>
  <li><span>Image 03</span></li>
  <li><span>Image 04</span></li>
  <li><span>Image 05</span></li>
  <li><span>Image 06</span></li>

  <p class="author">Jason Sturges</p>
</ul>

<div class="cover">
  <p class="author">Jason Sturges</p>
  <p class="stack">
    <span>A</span><span>v</span><span>a</span><span>n</span><span>t</span><span>-</span>
    <span>g</span><span>a</span><span>r</span><span>d</span><span>e</span>
  </p>
  <p class="tagline">Experimental artist</p>
</div>

<div class="grid">
  <figure class="avatar-figure">
    <img class="avatar" src="https://cdn.jasonsturges.com/avatar/jason-sturges-square.jpg" alt="Jason Sturges" />
  </figure>

  <p>Creative professional leveraging technology for immersive experiences &mdash; technologist; photographer; musician;
    explorer; human consciousness </p>
</div>

<div class="masonry">
  <div class="brick">
    <a href="#img_1">
      <img src="https://cdn.jasonsturges.com/portraits/IMG_37781.jpg" alt="Cherry plant" title="Cherry plant">
    </a>
  </div>
  <div class="brick">
    <a href="#img_2">
      <img src="https://cdn.jasonsturges.com/portraits/IMG_54539.jpg" alt="Grapes" title="Grapes">
    </a>
  </div>
  <div class="brick">
    <a href="#img_3">
      <img src="https://cdn.jasonsturges.com/portraits/IMG_43688.jpg" alt="Blueberries" title="Blueberries">
    </a>
  </div>
  <div class="brick">
    <a href="#img_4">
      <img src="https://cdn.jasonsturges.com/portraits/IMG_52348.jpg" alt="Pears" title="Pears">
    </a>
  </div>
  <div class="brick">
    <a href="#img_5">
      <img src="https://cdn.jasonsturges.com/portraits/IMG_42078.jpg" alt="Oranges and Pomegranates"
           title="Oranges and Pomegranates">
    </a>
  </div>
</div>

<a href="#_1" class="lightbox trans" id="img_1"><img src="https://cdn.jasonsturges.com/portraits/IMG_37781.jpg"/></a>
<a href="#_2" class="lightbox trans" id="img_2"><img src="https://cdn.jasonsturges.com/portraits/IMG_54539.jpg"/></a>
<a href="#_3" class="lightbox trans" id="img_3"><img src="https://cdn.jasonsturges.com/portraits/IMG_43688.jpg"/></a>
<a href="#_4" class="lightbox trans" id="img_4"><img src="https://cdn.jasonsturges.com/portraits/IMG_52348.jpg"/></a>
<a href="#_5" class="lightbox trans" id="img_5"><img src="https://cdn.jasonsturges.com/portraits/IMG_42078.jpg"/></a>
