---
layout: default
template: "home-template"
---

<div class="cover">
  <p class="author">Jason Sturges</p>
  <p class="stack">
    <span>A</span><span>v</span><span>a</span><span>n</span><span>t</span><span>-</span>
    <span>g</span><span>a</span><span>r</span><span>d</span><span>e</span>
  </p>
  <p class="tagline">Experimental artist</p>
</div>

<div class="grid">
  <figure class="avatar-figure">
    <img class="avatar" src="https://cdn.jasonsturges.com/avatar/jason-sturges-square-small.jpg" alt="Jason Sturges" />
  </figure>

  <p>Creative professional leveraging technology for immersive experiences &mdash; technologist; photographer; musician;
    explorer; human consciousness </p>
  <p><a href="/about">Learn more about Jason Sturges</a></p>
</div>


<section>
  <div class="grid">
    <h2>Technology</h2>
    <p>Leadership through innovation applying modern technologies and creative problem solving.</p>
  </div>

  <p class="codepen" data-height="513" data-theme-id="dark" data-default-tab="result" data-user="jasonsturges"
     data-slug-hash="mzPWaK"
     style="height: 513px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
     data-pen-title="Three.js Roxik Sharikura performance demo">
  <span>See the Pen <a href="https://codepen.io/jasonsturges/pen/mzPWaK">
  Three.js Roxik Sharikura performance demo</a> by Jason Sturges (<a href="https://codepen.io/jasonsturges">@jasonsturges</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
</section>


<section>
  <div class="grid">
    <h2>Archives</h2>
    {% include loop.html %}
  </div>
</section>

